<footer>
  <img src="{{ site.baseurl }}/assets/images/logo.png" />

  <div class="flex">
    <div>
      <h2><a href="{{ site.baseurl }}/developers.html">Developers</a></h2>
    </div>
    <div>
      <h2><a href="{{ site.baseurl }}/partners.html">Find a partner</a></h2>
    </div>
    <div>
      <h2><a href="{{ site.baseurl }}/company.html">Company</a></h2>
      <a href="{{ site.baseurl }}/consent_dashboard.html">Consent dashboard</a>
      <a href="{{ site.baseurl }}/privacy.html">Privacy policy</a>
    </div>
    <div>
      <h2><a href="{{ site.baseurl }}/blog.html">Blog</a></h2>
    </div>
  </div>

  <p>© 2016 - <span id="current_year"></span> <a href="http://www.kn-i.com/">KnowNow Information Limited</a>.<br />
  Registered in England and Wales number 8781104.<br />
  Registered address: Halpern House, 1-2 Hampshire Terrace, Portsmouth, PO1 2QF<br />
  Consentua and the 'Consentua Choice and Control' logo are registered trademarks of KnowNow Information Limited.</p>

  <a href="https://twitter.com/Consentua"><i class="fab fa-twitter"></i></a>
  <a href="https://vimeo.com/channels/consentua"><i class="fab fa-vimeo-v"></i></a>
  <a href="https://github.com/consentua"><i class="fab fa-github"></i></a>
</footer>

<!--
***
* FOOTER COPYRIGHT DATE GENERATOR
***
* Replaces copyright date with current year to help ensure it's always in-date.
* Date is generated client side, consider replacing with server side code!
***
-->

<script type="text/javascript">
  $( document ).ready(function() {
    var year = new Date().getFullYear();
    $('#current_year').append(year);
  });
</script>
