<nav>
  <a href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/assets/images/logo_red.png" /></a>
  <p id="menu-button"><i class="fas fa-bars"></i><span id="menu-text"></span></p>
  <ul id="menu-list">
    <li><a href="{{ site.baseurl }}/developers.html"><i class="fas fa-chevron-right"></i>Developers</a></li>
    <li><a href="{{ site.baseurl }}/partners.html"><i class="fas fa-chevron-right"></i>Find a partner</a></li>
    <li><a href="{{ site.baseurl }}/company.html"><i class="fas fa-chevron-right"></i>Company</a></li>
    <li><a href="{{ site.baseurl }}/blog.html"><i class="fas fa-chevron-right"></i>Blog</a></li>
  </ul>
</nav>
