form {

}

label {
    display: block;
    font-size: 0.9em;
}

input[type="text"],select,textarea {
    border-radius: 5px;
    font-size: 1em;
    color: #777;
    border: 1px solid #ccc;
    padding: 8px 12px 8px 12px;
}

input[type="text"],select {
    width: 70vw;
}

textarea {
    width: 70vw;
    height: 150px;
}

.error {
    border: 1px solid #c66 !important;
}

#inName {
    position: relative;
}

#inName span {
    display: inline-block;
}

#inName label.small {
    display: block;
    font-size: 0.7em;
}

#inName input {
    width: 175px;
    margin-right: 18px;
}
