/*
***
* MEDIA QUERIES
***
* Responsive content which adjusts to varying device display sizes.
***
*/

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
CSS TABLE OF CONTENTS

1.0 - Laptops and small monitors
2.0 - Tablets
3.0 - Mobiles

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
1.0 - Laptops and small monitors */

@media only screen and (max-width: 1400px) {
  header > div {
    width: 80vw !important;
    margin-left: 0 !important;
    text-align: center;
  }
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
2.0 - Tablets */

@media only screen and (max-width: 1050px) {
  nav > p {
    display: block;
    cursor: pointer;
  }

  nav > ul {
    display: block;
    width: 100vw;
    height: 100vh;
    background: #9A1144;
    padding: 1.5rem 0 0 0;
    margin-right: -10vw;
    text-align: left;
    background-color: #9A1144;
    color: #fff;
  }

  nav > ul > li {
    display: block;
    margin: 0;
  }

    nav > ul > li:first-of-type {
      display: block;
      height: 4rem;
      position: absolute;
      top: 0;
      left: 0;
    }

    nav > ul > li:nth-of-type(2) {
      margin-top: 2.5rem;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

      nav > ul > li:nth-of-type(2) > a {
        margin-top: 1.5rem;
      }

    nav > ul > li > svg {
      height: 1.25rem;
      position: absolute;
      top: 1.375rem;
      left: 10vw;
      fill: #fff;
    }

    nav > ul > li > a {
      display: block;
      margin-bottom: 0;
      padding-top: 1em;
      padding-bottom: 1em;
      padding-left: 10vw;
      background: #9A1144;
      color: #fff;
      font-size: 1.5em;
    }

  .centerbox {
    width: 80%;
  }

  .widecenter > h1, .widecenter > p {
    text-align: left;
  }

  div > .flex > div, div > .flex > .twocols {
    width: 100%;
    margin-right: 0;
    margin-bottom: 3em;
  }

  div > .flex > div:last-of-type {
    margin-bottom: 0;
  }

  .twocols, section > .widecenter > h1, .flex > div > h2 {
    text-align: center;
  }

  #logo-container > img, .widecenter > img {
    width: 100%;
    height: auto;
  }

  #about-flex {
    margin-bottom: 3rem;
  }

  #about-flex > #quote, #about-flex > div {
    width: 100% !important;
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 850px) {
  header > div > h1 {
    font-size: 2em;
    line-height: 2rem;
  }

  header > div > p {
    font-size: 1em;
  }

  footer > .flex > div {
    width: 50%;
  }

  #content > section > div > .flex > .onecol {
    box-shadow: none;
  }

  .mobile-collapse {
    width: 100vw;
    margin-top: -3em;
    margin-bottom: -6em;
    margin-left: 0;
    margin-right: 0;
  }
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
3.0 - Mobiles */

@media only screen and (max-width: 600px) {
  #content > header > div > h1 {
    font-size: 2.5em;
    line-height: 2.5rem;
  }

  #content > header > div > p {
    font-size: 1em;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 400px) {
  nav > a > img {
    height: 1em;
    top: 1.5em;
  }
}
