/*
***
* TEMPLATE STYLING
***
* Styles the default template, as well as global styling for content such as fonts,
* sections, headers, iframes, navigation menu and the footer.
***
*/

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
1.0 - Globals */

html, body
{
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: calc(16px + (20 - 16) * (100vw - 400px) / (2000 - 600) );
  background: #fff;
  color: #1d1d1d;
  box-sizing: border-box;
  min-width: 300px;
  max-width: 2600px;
  overflow-x: hidden;
}

#content {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  border: 0;
  width: 100%;
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

a {
    color: #9A1144;
}


/**********
 * Widgets
 */
a.button {
      border: 1px solid #9A1144;
      background: #9A1144;
      display: inline-block;
      margin: 0 0.5em 0 0.5em;
      color: #fff;
      text-decoration: none;
      border-radius: 1em;
      padding: 0.5em 1.5em;
      font-weight: 700;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
2.0 - Sections */

section {
  padding: 3em 0;
  margin-left: -10vw;
  margin-right: -10vw;
}

  section > div > h1 {
    margin-top: 0;
  }

  section > div > a, section > div > div > a {
    border: 1px solid #111;
    border-radius: 1em;
    padding: 0.5em 1.5em;
    margin-right: 1.5em;
    font-weight: 700;
  }

  /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  2.1 - Narrow center sections */

  .centerbox {
    text-align: center;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
  }

    .centerbox > img {
      width: 50vw;
      max-width: 300px;
      margin-top: 3em;
    }

    .centerbox > ul {
      list-style: none;
      padding: 0;
      margin-bottom: 0;
    }

      .centerbox > ul > li {
        text-indent: -1em;
      }

  /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  2.2 - Wide center sections */

  .widecenter {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
  }

    .widecenter > h1, .widecenter > p {
      text-align: center;
    }

    .widecenter > img {
      width: 50vw;
      max-width: 300px;
      display: none;
      margin-top: 3em;
    }

      .widecenter > img:first-of-type {
        display: inline-block;
      }

    .widecenter > div > a {
      margin-bottom: 0;
      background: #9A1144;
      color: #fff;
      text-decoration: none;
      border: 1px solid #9A1144;
      font-weight: 700;
    }

      .widecenter > div > a:hover {
        cursor: pointer;
        background: #fff;
        color: #111;
      }

  /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  2.3 - Wide left-aligned sections */

  .wideleftalign {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
  }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
3.0 - Responsive text */

@font-face {
    font-family: 'roman-modern-slanted';
    src: url("./assets/fonts/lmromanslant10-regular.otf") format("opentype");
}

p, blockquote, a
{
  line-height: 1.5rem;
  margin-bottom: 1.5rem; /*baseline = 1.5rem*/
  margin-top: 0;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
}

h1
{
  font-size: 2rem;
  line-height: 2rem;
  margin-top: calc((1.5rem - 2rem) + 1.5rem);
  /* ((1 baseline - font-size) + 1 baseline) */
  margin-bottom: 1.5rem; /* =1 baseline */
}

h2
{
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: calc((1.5rem - 1.5rem) + 1.5rem);
  /* ((1 baseline - font-size) + 1 baseline) */
  margin-bottom: 1.5rem; /* =1 baseline */
}

h3
{
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-top: calc((1.5rem - 1.25rem) + 1.5rem);
  /* ((1 baseline - font-size) + 1 baseline) */
  margin-bottom: 1.5rem; /* =1 baseline */
}

h4
{
  font-size: 1rem;
  line-height: 1rem;
  margin-top: calc((1.5rem - 1rem) + 1.5rem);
  /* ((1 baseline - font-size) + 1 baseline) */
  margin-bottom: 1.5rem; /* =1 baseline */
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
4.0 - Navigation menu */

nav {
  position: fixed;
  width: 100vw;
  margin-left: -10vw;
  margin-right: -10vw;
  height: 4rem;
  background: #fff;
  z-index: 100;
  font-size: 0.85em;
  font-weight: 400;
}

  nav > a > svg {
    height: 1.25rem;
    position: absolute;
    top: 1.375rem;
    left: 10vw;
  }

  nav > a > img:hover {
    cursor: pointer;
  }

  nav > p {
    position: absolute;
    display: none;
    font-size: 1.5rem;
    top: 1.25rem;
    right: 10vw;
    margin-bottom: 0;
    z-index: 200;
  }

    nav > p > svg {
      height: 1.5rem;
    }

  nav > ul {
    position: absolute;
    top: 0;
    right: 10vw;
    display: flex;
    height: 4rem;
    align-items: center;
    margin: 0;
  }

  nav > ul > li {
    display: inline;
    margin-left: 3em;
  }

    nav > ul > li:first-of-type {
      display: none;
    }

  nav > ul > li > a {
    color: #1d1d1d;
    text-decoration: none;
  }

  nav > ul > li > a:hover {
    cursor: pointer;
    text-decoration: underline;
  }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
5.0 - Footer */

footer {
  padding: 6rem 10vw;
  background: #18141A;
  margin-left: -10vw;
  margin-right: -10vw;
  color: #fff;
}

  footer > p {
    font-size: 0.8em;
    margin-top: 0;
  }

  footer > p > a {
    color: #fff;
  }

  footer > a {
    font-size: 1.5em;
    margin-right: 1em;
    color: #fff;
  }

      footer > a:hover {
        cursor: pointer;
      }

  footer > svg {
    height: 1.25rem;
    margin-bottom: 1.5rem;
  }

    footer > .flex > div {
      width: 22%;
      margin-bottom: 1.5rem;
    }

      footer > .flex > div > h2 {
        font-size: 1.1em;
        margin-bottom: 0.75em;
        text-align: left;
      }

        footer > .flex > div > h2 > a {
          color: #fff;
          text-decoration: none;
        }

        footer > .flex > div > h2:hover, footer > .flex > div > h2 > a:hover {
          text-decoration: underline;
        }

      footer > .flex > div > a {
        font-size: 1em;
        display: block;
        margin-bottom: 0.75em;
        text-align: left;
        color: #fff;
        text-decoration: none;
      }

        footer > .flex > div > a:last-of-type {
          margin-bottom: 0;
        }

        footer > .flex > div > a:hover {
          text-decoration: underline;
          cursor: pointer;
        }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
6.0 - Colour palette */

.red {
  background: #9A1144;
  color: #fff;
}

.dark-red {
  background: #8a0f3d;
  color: #fff;
}

.white {
  background: #fff;
}

.dark-white {
  background: #f5f5f5;
}

.black {
  background: #1d1d1d;
}

.grey {
  background: #454545;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
7.0 - Flex boxes */

.flex {
  display: flex;
  flex-wrap: wrap;
}

  #content > section > div > .flex {
    justify-content: space-between;
  }

  .flex > div:last-of-type {
    margin-right: 0;
  }

  .flex > div > p:last-of-type {
    margin-bottom: 0;
  }

  .flex > div > h2 {
    margin-top: 0;
  }

  .flex > div > div > i {
    color: #9A1144;
  }

  .flex > div > ul {
    list-style: none;
    margin-bottom: 0;
  }

    .flex > div > ul > li {
      text-indent: -1em;
      text-align: left;
    }

      .flex > div > ul > li:last-of-type {
        margin-bottom: 0;
      }

  .flex > div > .button {
    display: inline-block;
    border: 1px solid #9A1144;
    background: #9A1144;
    color: #fff;
    text-decoration: none;
    border-radius: 1em;
    padding: 0.5em 1.5em;
    margin-top: 1.5em;
    font-weight: 700;
  }

    .flex > div > .button:hover {
      background: #fff;
      color: #9A1144;
      cursor: pointer;
    }

  /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  7.1 - Flex box containing 3 divs */

  .flex > div {
    width: 20%;
  }

    .flex > div > div > i {
      margin-right: 1.5em;
      display: inline;
    }

  /*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  7.2 - Flex box contaning 2 divs */

  .flex > .twocols {
    width: 25%;
  }

    .flex > .twocols > a {
      margin-bottom: 0;
    }

  /*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  7.3 - Flex box contaning 1 div */

  .flex > .onecol {
    width: 100%;
  }

    .flex > .onecol > h2 {
      text-align: left;
    }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
8.0 - Cookies */

#cookie-consent {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  background: rgba(128, 128, 128, 0.5);
}

    #cookie-inner {
        display: block;
        background: #fff;
        width: 70vw;
        padding: 20px;
    }

        #cookie-skip {
            display: block;
            padding: 5px;
            float: right;
        }

        #cookie-consent > iframe {

        }

        @media screen and (max-width: 490px) {
                #cookie-inner { width: 100vw; }
        }
