<!DOCTYPE html>
<html>
  <head>
    <!-- Page config -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page.title }}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ root_url }}/assets/css/template.css" type="text/css">
    <link rel="stylesheet" href="{{ root_url }}/assets/css/home.css" type="text/css">
    <link rel="stylesheet" href="{{ root_url }}/assets/css/media_queries.css" type="text/css">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- External scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script data-search-pseudo-elements src="https://use.fontawesome.com/releases/v5.9.0/js/all.js"></script>

    <!-- Internal scripts -->
    <script src="https://websdk.consentua.com/websdk/consentua-embed.js.php"></script>
    <script src="/assets/js/menu_functionality.js" type="text/javascript"></script>

  </head>

  <body>
    <div id="content">

      {% include navigation.html %}
      {{ content }}
      {% include footer.html %}

    </div>
  </body>
</html>
